<h1>riddhi</h1>
<h2>riddhi</h2>
<h3>riddhi</h3>
<h4>riddhi</h4>
<h5>riddhi</h5>
<h6>riddhi</h6>
<b>ewrwe</b>
<i>erwer</i>
<u>rwerwer</u>
<strong>rweergterg</strong>
<a href="">123</a>
<%=link_to "help" , riddhi_help_path %>